<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>New Board</title>
<link rel="stylesheet"
    href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		$(".datepicker").datepicker();
	});
	/*]]>*/
</script>

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<style>
body {
	padding-top: 100px;
	padding-left: 100px;
}
</style>
</head>
<body>
    <div th:include="fragments/header"></div>

    <form action="#"
        th:action="@{/{organizationName}/boards/new(organizationName=${organizationName})}"
        th:object="${board}" method="post">
        <input type="text" th:field="*{name}" placeholder="name" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid
            board name</span>
        <br />
        <input type="submit" value="Add" />
    </form>
</body>
</html>