<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${page_title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:include="fragments/header"></div>
	<div>
		<h5>Members in this organization</h5>
		<a
			th:href="@{/{organizationName}/members/new(organizationName=${organizationName})}">New
			Member</a>
		<ul th:each="member : ${members}">
			<li><span th:text="${member.firstName}"></span> <span
				th:text="${member.lastName}"></span></li>
		</ul>
	</div>
</body>
</html>