<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title th:text="${page_title}"></title>

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<style>
body {
	padding-top: 100px;
	padding-left: 100px;
}
</style>
</head>
<body>

    <div th:include="fragments/header"></div>


    <div>
        <h5>Boards in this organization</h5>
        <a
            th:href="@{/{organizationName}/boards/new(organizationName=${organizationName})}">New
            Board</a>
        <table>
            <tr>
                <td>
                    <h3>Board Title</h3>
                </td>
                <td>
                    <h3>Board Content</h3>
                </td>
            </tr>
            <tr th:each="board : ${boards}">
                <td th:text="${board.title}"></td>
                <td th:text="${board.content}"></td>
            </tr>
        </table>
    </div>
</body>
</html>