<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>New Project</title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<style>
body {
	padding-top: 100px;
	padding-left: 100px;
}
</style>
</head>
<body>
    <div th:include="fragments/header"></div>

    <div>Add a new member to this organization</div>
    <br />
    <form action="#"
        th:action="@{/{organizationName}/members/new(organizationName=${organizationName})}"
        th:object="${user}" method="post">
        <input type="text" th:field="*{email}" placeholder="Email" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid
            Email</span>
        <br />
        <input type="submit" value="Add" />
    </form>
</body>
</html>