<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Organization Member Form</title>
</head>
<body>
    <form action="#" th:action="@{/{organizationName}/members/new(organizationName=${organizationName})}" th:object="${user}" method="post">
	   <input type="text" th:field="*{email}" placeholder="Email"/>
	   <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid Email</span>
	   <br/>
	   <input type="submit" value="Add"/>
	</form>
</body>
</html>