<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>New Project</title>
</head>
<body>
	<div th:include="fragments/header"></div>
	<br />
	<br />
	<br />
	<br />
	<div>Add a new member to this organization</div>
	<br />
	<form action="#"
		th:action="@{/{organizationName}/members/new(organizationName=${organizationName})}"
		th:object="${user}" method="post">
		<input type="text" th:field="*{email}" placeholder="Email" /> <span
			th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid
			Email</span><br /> <input type="submit" value="Add" />
	</form>
</body>
</html>