<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>New Project</title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<style>
body {
	padding-top: 100px;
	padding-left: 100px;
}
</style>
</head>
<body>
    <div th:include="fragments/header"></div>

    <div>
        <h3>Create a new project in this organization</h3>
    </div>
    <br />
    <form action="#"
        th:action="@{/{organizationName}/projects/new(organizationName=${organizationName})}"
        th:object="${project}" method="post">
        <div class="row">
            <div class="col-sm-1">
                <label>Name:</label>
            </div>
            <div class="col-sm-1">
                <input type="text" th:field="*{name}" placeholder="Name" />
            </div>
            <span th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}">Invalid name</span>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-1">
                <label>Description:</label>
            </div>
            <div class="col-sm-1">
                <input type="text" th:field="*{description}"
                    placeholder="Description" />
            </div>
            <span th:if="${#fields.hasErrors('description')}"
                th:errors="*{description}"></span>
        </div>
        <br />
        <input type="submit" value="Add" class="btn btn-success" />
    </form>
</body>
</html>