<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="${page_title}"></title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<style>
body {
	padding-top: 100px;
	padding-left: 100px;
}
</style>
</head>
<body>
    <div th:include="fragments/header"></div>

    <div>
        <h5>Projects in this organization</h5>
        <a
            th:href="@{/{organizationName}/projects/new(organizationName=${organizationName})}">New
            Project</a>
        <ul th:each="project : ${projects}">
            <li>
                <a
                    th:href="@{/{organizationName}/projects/{projectName}(organizationName=${organizationName}, projectName=${project.name})}">
                    <span th:text="${project.name}"></span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>