<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>New Project Member Form</title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
</head>
<body>
    <div th:include="fragments/header"></div>

    <form action="#"
        th:action="@{/{organizationName}/projects/{projectName}/members/new(organizationName=${organizationName}, projectName=${projectName})}"
        th:object="${user}" method="post">
        <input type="text" th:field="*{email}" placeholder="Email" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid
            Email</span>
        <br />
        <input type="submit" value="Add" />
    </form>
</body>
</html>