<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Show Gantt Chart</title>
<script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	google.charts.load('current', {
		'packages' : [ 'gantt' ]
	});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() { 
		var tasks=[[${tasks}]];
		
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Task ID');
		data.addColumn('string', 'Task Name');
		data.addColumn('string', 'Resource');
		data.addColumn('date', 'Start Date');
		data.addColumn('date', 'End Date');
		data.addColumn('number', 'Duration');
		data.addColumn('number', 'Percent Complete');
		data.addColumn('string', 'Dependencies');
		
		for(var i=0;i<tasks.length;i++){	
	    data.addRows([					
	    	[ tasks[i].title, tasks[i].title, tasks[i].title, new Date(tasks[i].scheduledStartDate),
							new Date(tasks[i].scheduledFinishedDate), null, 10, null ]
			]);	
		}
		
		var options = {
			height : 400,
			gantt : {
				trackHeight : 30
			}
		};

		var chart = new google.visualization.Gantt(document
				.getElementById('chart_div'));
		chart.draw(data, options);
	}
	/*]]>*/
</script>
<style>
.wrapper {
	top: 0%;
	width: 1200px;
	height: 800px;
	left: 40%;
	right: 30%
}
</style>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<style>
body {
	padding-top: 100px;
	padding-left: 100px;
}
</style>
</head>
<body>
    <h3>
        <i>Gantt Chart </i>
    </h3>
    <div id="chart_div" class="wrapper"></div>

</body>
</html>