<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<meta name="google-signin-client_id"
    content="155108207912-cj5o9d5hdn87fk7otmt8v3qh8v51a58q.apps.googleusercontent.com" />
<head>
<title>Login</title>
<script src="https://apis.google.com/js/platform.js" async="true"
    defer="true"></script>
	
<title>Sign Up</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
    <script>
					/*<![CDATA[*/
					function onSignIn(googleUser) {
						var profile = googleUser.getBasicProfile();
						var id_token = googleUser.getAuthResponse().id_token;
						var xhr = new XMLHttpRequest();
						var url = "/testSignupToken";
						xhr.open('GET', url, true);
						xhr.onreadystatechange = function() {//Call a function when the state changes.
							if (xhr.readyState == 4 && xhr.status == 200) {
								alert(xhr.responseText);
							}
						}
						xhr.send(null);
						xhr.onload = function() {
							console.log('Signed in as: ' + xhr.responseText);
						};
						console.log('in javascript----------');
						console.log('idToken=' + id_token);
						console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
						console.log('first Name: ' + profile.getGivenName());
						console.log('last Name: ' + profile.getFamilyName());
						console.log('Image URL: ' + profile.getImageUrl());
						console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

					}

					/*]]>*/
				</script>

    <script
        src="https://apis.google.com/js/platform.js?onload=renderButton"
        async="true"></script>

</head>

<body>
    <div class="container">
        <div id="signupbox" style="margin-top: 50px;"
            class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div
                        style="float: right; font-size: 85%; position: relative; top: -10px">
                        Already have account? Please
                        <a href="#" th:href="login">sign in</a>
                    </div>
                </div>

                <div class="panel-body">
                    <form action="#" th:action="@{/signup}"
                        th:object="${user}" method="post"
                        class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="firstName"
                                class="col-md-3 control-label">First
                                Name</label>
                            <div class="col-md-9">
                                <input type="text"
                                    th:field="*{firstName}"
                                    placeholder="First Name"
                                    class="form-control" />
                                <span
                                    th:if="${#fields.hasErrors('firstName')}"
                                    th:errors="*{firstName}">Invalid
                                    user name</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastName"
                                class="col-md-3 control-label">Last
                                Name</label>
                            <div class="col-md-9">
                                <input type="text"
                                    th:field="*{lastName}"
                                    placeholder="Last Name"
                                    class="form-control" />
                                <span
                                    th:if="${#fields.hasErrors('lastName')}"
                                    th:errors="*{lastName}">Invalid
                                    user name</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email"
                                class="col-md-3 control-label">Email
                            </label>
                            <div class="col-md-9">
                                <input type="text" th:field="*{email}"
                                    placeholder="Email"
                                    class="form-control" />
                                <span
                                    th:if="${#fields.hasErrors('email')}"
                                    th:errors="*{email}">Invalid
                                    email</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password"
                                class="col-md-3 control-label">Password
                            </label>
                            <div class="col-md-9">
                                <input type="password"
                                    th:field="*{password}"
                                    placeholder="Password"
                                    class="form-control" />
                                <span
                                    th:if="${#fields.hasErrors('password')}"
                                    th:errors="*{password}">Invalid
                                    password</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword"
                                class="col-md-3 control-label">ConfirmPassword
                            </label>
                            <div class="col-md-9">
                                <input type="password"
                                    th:field="*{confirmedPassword}"
                                    placeholder="Confirm Password"
                                    class="form-control" />
                                <span
                                    th:if="${#fields.hasErrors('confirmedPassword')}"
                                    th:errors="*{confirmedPassword}">Passwords
                                    do not match</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Signup"
                                    id="btn-signup" class="btn btn-info" />
                                <i class="icon-hand-right"></i> &nbsp; <span
                                    style="margin-left: 8px;">or</span>
                            </div>
                        </div>

                        <div
                            style="border-top: 1px solid #999; padding-top: 20px"
                            class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-fbsignup" type="button"
                                    class="btn btn-primary g-signin2"  class="g-signin2" data-onsuccess="onSignIn"></>Sign
                                    Up with Google</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>