<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Task</title>
</head>
<body>
	<form action="#" th:action="@{/organizations/{organizationId}/projects/{projectName}/tasks/new(organizationId=${organizationId}, projectName=${projectName})}" th:object="${task}" method="post">
	   <input type="text" th:field="*{title}" placeholder="Title"/>
	   <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid title</span>
	   <br/>
	   <input type="submit" value="Add"/>
	</form>
</body>
</html>