<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>New Task</title>
<link rel="stylesheet"
    href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/

	$(document).ready(function() {
		$(".datepicker").datepicker();
	});

	/*]]>*/
</script>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<style>
body {
	padding-top: 100px;
	padding-left: 100px;
}
</style>
</head>
<body>

    <div th:include="fragments/header"></div>

    <form action="#"
        th:action="@{/{organizationName}/projects/{projectName}/tasks/new(organizationName=${organizationName}, projectName=${projectName})}"
        th:object="${task}" method="post">
        <table>
            <tr>
                <td>Title:</td>
                <td>
                    <input type="text" th:field="*{title}"
                        placeholder="Title" />
                    <span th:if="${#fields.hasErrors('title')}"
                        th:errors="*{title}">Invalid title</span>
                </td>
            </tr>
            <tr>
                <td>Schedule Start Date:</td>
                <td>
                    <input type="text" th:field="*{scheduledStartDate}"
                        placeholder="ScheduleStartDate"
                        class="datepicker" />
                    <span
                        th:if="${#fields.hasErrors('scheduledStartDate')}"
                        th:errors="*{scheduledStartDate}">Invalid
                        Date</span>
                </td>
            </tr>
            <tr>
                <td>Schedule Finished Date:</td>
                <td>
                    <input type="text"
                        th:field="*{scheduledFinishedDate}"
                        placeholder="ScheduleFinishedDate"
                        class="datepicker" />
                    <span
                        th:if="${#fields.hasErrors('scheduledFinishedDate')}"
                        th:errors="*{scheduledFinishedDate}">Invalid
                        Date</span>
                </td>
            </tr>
            <tr>
                <td>Actual Start Date:</td>
                <td>
                    <input type="text" th:field="*{actualStartDate}"
                        placeholder="ActualStartDate" class="datepicker" />
                    <span
                        th:if="${#fields.hasErrors('actualStartDate')}"
                        th:errors="*{actualStartDate}">Invalid
                        Date</span>
                </td>
            </tr>
            <tr>
                <td>Actual Finished Date:</td>
                <td>
                    <input type="text" th:field="*{actualFinishedDate}"
                        placeholder="ActualFinishedDate"
                        class="datepicker" />
                    <span
                        th:if="${#fields.hasErrors('actualFinishedDate')}"
                        th:errors="*{actualFinishedDate}">Invalid
                        Date</span>
                </td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td>
                    <input type="text" th:field="*{weight}"
                        placeholder="Weight" />
                    <span th:if="${#fields.hasErrors('weight')}"
                        th:errors="*{weight}">Invalid Weight</span>
                </td>
            </tr>
            <tr>
                <td>Score:</td>
                <td>
                    <input type="text" th:field="*{score}"
                        placeholder="Score" />
                    <span th:if="${#fields.hasErrors('score')}"
                        th:errors="*{score}">Invalid Score</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>