<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Project Home</title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<style>
body {
	padding-top: 100px;
	padding-left: 100px;
}
</style>
</head>
<body>
    <div th:include="fragments/header"></div>

    <div>
        <h5 th:text="${projectName}"></h5>
        <a href=""
            th:href="@{/{organizationName}/projects/{projectName}/members(organizationName=${organizationName}, projectName=${projectName})}">Poject
            Members</a>
        &nbsp;
        <a href=""
            th:href="@{/{organizationName}/projects/{projectName}/tasks(organizationName=${organizationName}, projectName=${projectName})}">Poject
            Tasks</a>
        &nbsp;
        <a href=""
            th:href="@{/{organizationName}/projects/{projectName}/gantt(organizationName=${organizationName}, projectName=${projectName})}">Gantt
            For Project Tasks </a>
        <br />
        <h6>Task List</h6>
        <a
            th:href="@{/{organizationName}/projects/{projectName}/tasks/new(organizationName=${organizationName}, projectName=${projectName})}">New
            Task</a>
        <ul th:each="task : ${tasks}">
            <li><a
                    th:href="@{/{organizationName}/projects/{projectName}/tasks/{taskNo}(organizationName=${organizationName}, projectName=${projectName}, taskNo=${task.no})}">
                    <span th:text="${task.title}"></span>
                </a></li>
        </ul>
    </div>

</body>
</html>