<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Task Comment</title>
<meta charset="utf-8" />
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script th:inline="javascript">
	var organizationName = [[${organizationName}]];
	var projectName = [[${projectName}]];
	var taskNo = [[${taskNo}]];
</script>
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 th:text="${projectName}"></h4>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#"
						th:href="@{/u/{organizationName}/projects/{projectName}/tasks(organizationName=${organizationName}, projectName=${projectName})}">Tasks</a>
					</li>
					<li><a href="#"
						th:href="@{/u/{organizationName}/projects/{projectName}/members(organizationName=${organizationName}, projectName=${projectName})}">Members</a>
					</li>
					<li><a href="#"
						th:href="@{/u/{organizationName}/projects/{projectName}/gantt(organizationName=${organizationName}, projectName=${projectName})}">Gantt</a>
					</li>
				</ul>

				<h4 style="margin-top: 20px" th:text="${taskTitle}"></h4>

				<div class="panel-group" id="task"></div>

			</div>
		</div>
	</div>
</body>
<script src="/resources/src/client/public/task-bundle.js"></script>
</html>